body{
    padding: 20px;
}
.show-buildings{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid teal;
    border-color: #008080;
    margin-top: 60px;
}
.buildings-name {
    display: grid;
    grid-template-columns: 2fr 50%;
    /* grid-template-columns: repeat(2, 50in);  */
    grid-gap: 20px;  
    /* padding-top: 40px; */
    padding: 20px;
    
    
}

.button {
    position: relative;
    padding: 10px;
    border-width: 5px;
    border-color:  teal;
    background-color: white;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    width: 90%;
    text-align: right;
    padding-right: 50px;
}

.button-add{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 20%;
    background-color: teal;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: teal;
    color: white;
}

.home-icon{
    position: absolute;
    top: 50%; 
    right: 0%; 
    transform: translateY(-50%);
    padding: 10px;
    background-color: #008080;
    border-radius: 50px;
    color: white;
}
.search{
    /* position: absolute; */
  top: 90px;
  right: 50px;
  position:fixed;
  /* /* display: flex; */
  /* align-items: center;  */
  background-color: white;
  
}
.search-input{
    margin: 20px 5px;
    text-align: right;
}